/********
HEADER, LOGO and NAV
********/
header{
	width:90%;
	padding:2%;
	background-color: #475E5E;
	font-family: 'Oswald', sans-serif;
	color:white;
}
header a{
	color:none;
}
nav ul li{
	display:inline;
}
nav li{

	font-size: 1.5em;

}
nav li > a {
	display: none;
}

/********
BODY, WRAPPER, FOOTER
********/
body{
}
#wrapper {
	width:90%;
	margin: auto;
	
}
section{
	width:100%;
	margin-top: 10%;
}
footer{
	margin-top:5%;
}
/********
Global
********/
a{
	text-decoration: none;
	color:black;
}