/********
HEADER, LOGO and NAV
********/
header{
	width:100%;
	padding:2%;
	background-color: #475E5E;
	 box-shadow: 10px 10px 5px black;
	font-family: 'Oswald', sans-serif;
	color:white;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
header h1{
	font-size: 1.5em;
}
header a{
	color:white;
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
}
header a:hover{
	font-family: 'Shadows Into Light', cursive;
}
nav li{
	display:inline;
	margin-right:2%;

}

/********
BODY, WRAPPER, FOOTER
********/
body{
}
#wrapper {
	width:90%;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	
}
section{
	width:100%;
	margin-top: 10%;
}
.sidebar > h2{
	width:90%;
	height:10%;
	background-color:#336699;
	padding: 2%;
	font-size:1.5em;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	color:white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
footer{
	width:100%;
	height:10%;
	padding: 2%;
	margin-top:5%;
	margin-bottom:0;
	background-color: #475E5E;
	overflow:auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color:white;
	font-family: 'Shadows Into Light', cursive;

}
footer li{
	font-size:1.5em;
}
footer p{
	color:white;
	font-size:1.5em;
	font-family: 'Shadows Into Light', cursive;
	float:right;
	margin-left:2%;
}
footer img{
	float:left;
	/* 
	Context/Target=Result 
	50/1000=5%

	*/
	width:5%;
	height:5%;
	margin-right:2%;
}
footer img:hover{
	width:7%;
	height:7%;
}

/********
TABLES
********/
table{
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background-color: #ccc; 
}
table, th{
	border: 1px solid black;
}
th{
	background-color: #336699;
	padding:0.75%;
	font-size: 1.25em;
	font-family: 'Oswald', sans-serif;
	color:white;
}
td{
	padding:0.75%;
	font-size: 1em;
	font-family: 'Oswald', sans-serif;
	text-align: center;

}

/********
Responsive Slider
********/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
  .rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/********
Global
********/
a{
	text-decoration: none;
	color:black;
}